body {
    padding-bottom: 20px;

    background:
            linear-gradient(90deg, #131313 20px, transparent 1%) center,
            linear-gradient(#131313 20px, transparent 1%) center,
            #272727;
    background-size: 22px 22px;
    overflow: hidden;
    color: #CCCCCC;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}